.main_bg {
    padding: 6rem;
    background-image: url('../img/main_bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white_color);
}

.white_bg {
    background-color: var(--white_color);
}

.menu_container {
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-gray-color);
    z-index: 1;
}

.menu_container .menu_content1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;
    padding-top: 0;
}

.menu_container h1{
    font-size: 3rem;
    color: var(--primary-color);
}

.menu_container h1 a{
    color: inherit;
}

.menu_container .menu_content ul {
    display: flex;
}

.menu_container .menu_content ul li{
    list-style: none;
    font-size: 1.6rem;
}

.menu_container .menu_content ul li a{
    display: block;
    font-size: 1.8rem;
    padding: 1rem;
    text-decoration: none;
    color: black;
    position: relative;
}

.menu_container .menu_content ul li a::after{
    content: '';
    position: absolute;
    bottom: 1.8rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary_color);
    transition: all 300ms ease-in-out;
}

.menu_container .menu_content ul li a:hover::after{
    width: 50%;
    left: 25%;
}


.main_content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}

.second_section {
    padding: 6rem;
    text-align: center;
}

.intro_content {
    position: relative;
    top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    gap: var(--gap);
}
.second_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.second_main h2 {
    margin-bottom: 6rem;
    line-height: 7rem;
}

.second_main p {
    max-width: 64rem;
}

.main_txt, .main_img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.main_txt h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    line-height: 8rem;
}

.main_txt p {
    font-size: 2.3rem;
}

.main_img img {
    width: 100%;
    height: auto;
}

.top3_main {
    display: flex;
    flex-direction: column;
}

.top3_main .top3_txt {
    width: 100%;
    height: auto;
    margin-bottom: 8rem;
}

.top3_main .top3_txt h2{
    line-height: 7rem;
    text-transform: uppercase;
}

.top3_main .top3_grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--gap);
    counter-reset: grid_counter;
}
.top3_grid h3 {
    position: relative;
    padding-left: 6rem;
    padding-bottom: 2.5rem;
}

.top3_grid h3::before {
    counter-increment: grid_counter;
    content: counter(grid_counter);
    position: absolute;
    top: 0;
    left: -1rem;
    font-size: 8rem;
    font-style: italic;
    transform: rotate(5deg);
}

.section_gallery {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 6rem;
}

.section_gallery .gallery_txt {
    line-height: 7rem;
    margin-bottom: 8rem;
}

.section_gallery .gallery_txt h2 {
    text-transform: uppercase;
}

.gallery_grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--gap);
    width: 100%;
}

.gallery_img {
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery_grid img {
    transition: all 300ms ease-in;
}

.gallery_grid img:hover {
    transform: translate(-3%,3%) scale(1.2) rotate(5deg);
}

.pricing_txt {
    padding-top: 8rem;
    max-width: 64rem;
    text-align: center;
}

.pricing_txt h2{
    text-transform: uppercase;
    margin-bottom: 6rem;
}

.pricing_txt p {
    line-height: 3rem;
}

.div_table_responsive {
    overflow: hidden;
    overflow-x: auto;
    max-width: 64rem;
}

.contact_form {
    grid-column: span 2;
}

.contact_form .form_grid {
    border: none;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
}

.form_grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.form_group {
    flex: 1 1 40rem;
}

.form_group label {
    display: block;
    margin-bottom: 1rem;
}

.form_group input,
.form_group textarea {
    border: none;
    background-color: var(--white_color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 3rem;
}

.form_group input:focus,
.form_group textarea:focus {
    box-shadow: 0 0 1rem 2rem var(--secondary_color);
}

.form_group button {
    color: var(--white_color);
    font-size: 3rem;
    background: none;
    padding: 1.5rem 2rem;
    border: 0.5rem solid var(--white_color);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form_group button:hover {
    background-color: var(--white_color);
    color: var(--primary-color);
}

.full_width {
    width: 100%;
    flex: 1 1 100%;
}

.footer {
    text-align: center;
    padding: 3rem;
    font-size: 2rem;
}

.footer a {
    color: var(--primary-color)
}

.heart {
    color: var(--secondary_color);
}

.close_menu {
    display: none;
}

.back_to_top {
    position: fixed;
    color: var(--light-gray-color);
    background-color: var(--primary-color);
    bottom: 2rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0.5rem;
    transition: all 300ms ease-in-out;
}

.back_to_top:hover {
    color: var(--white_color);
    border: 0.1rem solid var(--white_color);
}

@media (max-width: 800px) {
    .intro_content, .gallery_grid, .top3_main .top3_grid {
        grid-template-columns: 1fr;
    }

    .gallery_img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery_img img {
        width: 100%;
    }

    .menu_container {
        display: none;
        bottom: 0;
        text-align: center;
    }

    .menu_content1 {
        height: 100vh;
    }

    .menu_container .menu_content1, .menu_container .menu_content1 ul {
        flex-direction: column;
        justify-content: center;
    }

    .close_menu {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
    }

    .close_menu_label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background-color: var(--primary-color);
        color: var(--white_color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close_menu:checked~.menu_container {
        display: block;
    }

    .close_menu:checked~.close_menu_label::after {
        content: '×';
    }
}